<!DOCTYPE html>
<html lang="vi"><!-- Basic -->
<head>
	{% load static %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Hữu-Thuỷ Wedding</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'guest/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{%static 'guest/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'guest/css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'guest/css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'guest/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'guest/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'guest/css/custom.css'%}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
    <div id="preloader">
		<div class="preloader pulse">
			<i class="fa fa-heartbeat" aria-hidden="true"></i>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="{% url 'guest:index'%}"><img src="{% static 'guest/images/logo.jpg'%}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#story">Events</a></li>
                        <!--li><a class="nav-link" href="#family">Family</a></li-->
                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
                        <!--li><a class="nav-link" href="#events">Events</a></li-->
						<li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="zipReveal" data-duration="1500" style="background-image:url({% static 'guest/images/slider-01.jpg'%});">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>#Nguyen Quoc Huu & #Hoang Thu Thuy</h1>
								<h2>We're getting married</h2>
								<p>Save The Date <strong>30 Oct 2022</strong></p>
								<a href="#contact" class="btn ">Join with us</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1500" style="background-image:url({% static 'guest/images/slider-02.jpg'%});">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>#Nguyen Quoc Huu & #Hoang Thu Thuy</h1>
								<h2>We're getting married</h2>
								<p>Save The Date <strong>30 Oct 2022</strong></p>
								<a href="#contact" class="btn ">Join with us</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="shrinkReveal" data-duration="2000" style="background-image:url({% static 'guest/images/slider-03.jpg'%});">
						<div class="lbox-caption">
							<div class="lbox-details">
								<h1>#Nguyen Quoc Huu & #Hoang Thu Thuy</h1>
								<h2>We're getting married</h2>
								<p>Save The Date <strong>30 Oct 2022</strong></p>
								<a href="#contact" class="btn">Join with us</a>
							</div>
						</div>
						
					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>Our Family</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> The Bride's Family <span> </span></h2>
								<p> The beautiful bride Hoàng Thu Thuỷ.</p>
								<p> Bride's father: Hoàng Văn Cường</p>
								<p> Bride's mother: Hoàng Văn Cường</p>
								<p> Bride's address: Thôn Quế Sơn, xã Tân Ước, huyện Thanh Oai, Hà Nội </p>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-img">
									<img class="img-fluid rounded" src="{% static 'guest/images/about-img-01.jpg'%}" alt="" />
								</div>
							</div>
						</div>
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-img">
									<img class="img-fluid rounded" src="{% static 'guest/images/about-img-02.jpg'%}" alt="" />
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> The Groom's Family <span> </span></h2>
								<p> The groom Nguyễn Quốc Hữu </p>
								<p> Groom's father: Nguyễn Văn Bạn </p>
								<p> Groom's mother: Nguyễn Thị Phiến </p>
								<p> Groom's address: Khu Kim Đồng, phường Tân Dân, thị xã Kinh Môn, Hải Dương </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	
	<!-- Start Story -->

	<div id="story" class="story-box main-timeline-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Wedding Events</h2>
						<p>The detail wedding events are illustrated below. Please kindly take your time and catch our moment ~~. Your presence is our happiness ^^ </p>
					</div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            3pm 29 October 2022
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-right">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Go bride's home</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   The shuttle bus from PVI to bride's home is going to start. Please contact Mr Đạt 0xxxxx for bus information.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            5pm 29th October 2022
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Wedding party at the bride's home</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   Wedding party at the bride's home.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            8am 30 October 2022
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-right">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Wedding ceremony ath the bride's home</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   The wedding ceremony start at The bride's family
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            8:30am 30 October 2022
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Go groom's home</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   The shuttle bus from 789 Tower to groom's home is going to start. Please contact Mr Đức 0xxx for bus information.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element reverse separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            11:15am 30 October 2022
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-right">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Wedding ceremony ath the groom's home</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   The Bride and the groom come back the groom's home.
						</p>
					 </div>
				</div>
			</div>
			<div class="row timeline-element separline">
				<div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            12:30pm 30 October 2022
                        </p>
                    </div>
				</div>
				<span class="iconBackground"></span>
				<div class="col-xs-12 col-md-6 align-left">
					<div class="timeline-text-content">
						<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Comeback</h4>
						<p class="mbr-timeline-text mbr-fonts-style display-7">
						   Shuttle bus will comeback to Hanoi.
						</p>
					 </div>
				</div>
			</div>
		</div>
	</div>

	<!-- End Story -->

	<!-- Start Family -->
	<!--
	<div id="family" class="family-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Family</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-01.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Alonso Wiles </h4>
							<p>{ Leida’s Father }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-02.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Evon Wiles </h4>
							<p>{ Leida’s Mother }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-03.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Chris Wiles </h4>
							<p>{ Leida’s Brother }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-04.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Adina Wiles </h4>
							<p>{ Leida’s Sister }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-05.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Annetta Wiles </h4>
							<p>{ Leida’s Sister }</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="single-team-member">
						<div class="family-img">
							<img class="img-fluid" src="images/family-06.jpg" alt="" />
						</div>
						<div class="family-info">
							<h4>Mr. Ladonna Wiles </h4>
							<p>{ Leida’s Sister }</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- End Family -->
	
	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Gallery</h2>
						<p>Save our happiest moment in the life ~ </p>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="popup-gallery clearfix">
					<li>
						<a href="{% static 'guest/images/gallery-01.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-01.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'guest/images/gallery-02.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-02.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'guest/images/gallery-03.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-03.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'guest/images/gallery-04.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-04.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>

				</ul>
				<ul class="popup-gallery clearfix">
					<li>
						<a href="{% static 'guest/images/gallery-05.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-05.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'guest/images/gallery-06.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-06.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'guest/images/gallery-07.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-07.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
					<li>
						<a href="{% static 'guest/images/gallery-08.jpg'%}">
							<img class="img-fluid" src="{% static 'guest/images/gallery-08.jpg'%}" alt="single image">
							<span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
	<!-- Start Events -->
	<!--
	<div id="events" class="events-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Events</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="images/event-img-01.jpg" alt="" />
						</div>
						<h2>2 June 2018 Engagement</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
						<a href="#">See location ></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="images/event-img-02.jpg" alt="" />
						</div>
						<h2>3 June 2018 Main Ceremony </h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
						<a href="#">See location ></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="event-inner">
						<div class="event-img">
							<img class="img-fluid" src="images/event-img-03.jpg" alt="" />
						</div>
						<h2>4 June 2018 Wedding party </h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
						<a href="#">See location ></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- End Events -->
	
	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact with us</h2>
						<p>Keep in touch with us if have any problem. Bride's phone: Thuỷ 0982721104. Groom's phone: Hữu 0886148895</p>
					</div>
				</div>
			</div>
			<span id="alert_message">

			</span>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
				  <div class="contact-block">
					<form contactForm method="post">
						{% csrf_token %}
					  <div class="row">
						<div class="col-md-12">
							<label>Your Name</label>
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name Here" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>
							<label>Phone Number</label>
							<div class="form-group">
								<input type="text" class="form-control" id="phone" name="name" placeholder="Enter Your phone Here" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<!--div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div-->
						<div class="col-md-12">
							<div class="form-group">
								<label>Number Of Guest</label>
								<select class="custom-select d-block form-control" id="number_of_guest" required data-error="Please select an item in the list.">
								  <option value="1" selected>1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>I Am Attending</label>
								<select class="custom-select d-block form-control" id="attending" required data-error="Please select an item in the list.">
								  <option value="All events">All events</option>
								  <option value="Bride's Wedding Party at 5pm 29 Oct">Bride's Wedding Party at 5pm 29 Oct</option>
								  <option value="Groom's Wedding Party at 11:30am 30 Oct">Groom's Wedding Party at 11:30am 30 Oct</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Enter Your Message Here" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					  </div>            
					</form>
					 <div class="submit-button text-center">
						<button class="btn btn-common" id="submit" onclick="submit()">Send Message</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	<!-- Start Footer -->
	<!--
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">The Real Wedding</a> Design By : <a href="https://html.design/">html design</a></p>
				</div>
			</div>
		</div>
	</footer>
	-->
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="{% static 'guest/js/jquery.min.js'%}"></script>
	<script src="{% static 'guest/js/popper.min.js'%}"></script>
	<script src="{% static 'guest/js/bootstrap.min.js'%}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'guest/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'guest/js/jquery.pogo-slider.min.js'%}"></script>
	<script src="{% static 'guest/js/slider-index.js'%}"></script>
	<script src="{% static 'guest/js/smoothscroll.js'%}"></script>
	<script src="{% static 'guest/js/form-validator.min.js'%}"></script>
    <script src="{% static 'guest/js/contact-form-script.js'%}"></script>
    <script src="{% static 'guest/js/custom.js'%}"></script>
	<script>
		function submit(){
			var csrf_token = document.getElementsByName("csrfmiddlewaretoken")
			csrf_token = csrf_token[0].value;
			var name = document.getElementById("name").value;
			var phone = document.getElementById("phone").value;
			var number_of_guest = document.getElementById("number_of_guest").value;
			var attending = document.getElementById("attending").value;
			var message = document.getElementById("message").value;

			if(name==""){
				$("#alert_message").html('<div class="alert alert-danger"> <strong>Inform!</strong> Please enter your name. </div>')
			}
			else if(phone==""){
				$("#alert_message").html('<div class="alert alert-danger"> <strong>Inform!</strong> Please enter your phone. </div>')
			}
			else{
				$.ajax({
					type: "post",
					url: "/guest/submit/",
					data:{
						csrfmiddlewaretoken: csrf_token,
						name: name,
						phone: phone,
						number_of_guest: number_of_guest,
						attending: attending,
						message: message
					},
					success: function(result){
						$("#alert_message").html(result)
					},
					error: function(){

					}
				});
			}
		};
	</script>
</body>
</html>